#Python dependencies
os==posix
random==Built-in module
NumPy==1.26.4
Pandas==2.2.2
Matplotlib==3.8.0
Seaborn==0.13.2
scikit-learn==1.6.0
imbalanced-learn==0.12.4
Matplotlib Venn==1.1.1
inmoose==0.7.3
conorm==1.2.0
rnanorm
mrmr_selection==0.2.8
requests
zipfile
io
combat
inmoose

#R dependencies
scater==1.30.1  
scuttle==1.12.0  
EDASeq==2.36.0  
ShortRead==1.60.0  
GenomicAlignments==1.38.2  
Rsamtools==2.18.0  
BiocParallel==1.36.0  
dtplyr==1.3.1  
dbplyr==2.5.0  
dplyr==1.1.4  
DT==0.33  
TCGAWorkflowData==1.26.0  
BSgenome.Hsapiens.UCSC.hg19==1.4.3  
BSgenome==1.70.2  
rtracklayer==1.62.0  
BiocIO==1.12.0  
Biostrings==2.70.3  
XVector==0.42.0  
segmented==2.1-2  
nlme==3.1-163  
MASS==7.3-60  
Trendy==1.24.1  
lubridate==1.9.3  
forcats==1.0.0  
stringr==1.5.1  
purrr==1.0.2  
readr==2.1.5  
tibble==3.2.1  
tidyverse==2.0.0  
tidytree==0.4.6  
tidyselect==1.2.1  
tidyr==1.3.1  
tidygraph==1.3.1  
magrittr==2.0.3  
genefilter==1.84.0  
gProfileR==0.7.0  
RColorBrewer==1.1-3  
survminer==0.4.9  
ggpubr==0.6.0  
survival==3.7-0  
gplots==3.1.3.1  
caret==6.0-94  
lattice==0.21-9  
FactoMineR==2.11  
factoextra==1.0.7  
ggplot2==3.5.1  
glmnet==4.1-8  
Matrix==1.6-1.1  
TCGAbiolinks==2.30.4  
SingleCellExperiment==1.24.0  
SummarizedExperiment==1.32.0  
Biobase==2.62.0  
GenomicRanges==1.54.1  
GenomeInfoDb==1.38.8  
IRanges==2.36.0  
S4Vectors==0.40.2  
BiocGenerics==0.48.1  
MatrixGenerics==1.14.0  
matrixStats==1.3.0  
flashClust==1.01-2  
mvtnorm==1.3-1  
survMisc==0.5.6  
commonmark==1.9.1  
yulab.utils==0.1.7  
R.utils==2.12.3  
parallelly==1.38.0  
rstudioapi==0.16.0  
RSQLite==2.3.7  
generics==0.1.3  
gtools==3.9.5  
car==3.1-3  
leaps==3.2  
interp==1.1-6  
ggbeeswarm==0.7.2  
fansi==1.0.6  
abind==1.4-8  
R.methodsS3==1.8.2  
scatterplot3d==0.3-44  
yaml==2.3.10  
carData==3.0-5  
recipes==1.1.0  
SparseArray==1.2.4  
BiocFileCache==2.10.2  
gridExtra==2.3  
blob==1.2.4  
promises==1.3.0  
downloader==0.4  
data.table==1.16.0  
vctrs==0.6.5  
png==0.1-8  
gtable==0.3.5  
cachem==1.1.0  
aroma.light==3.32.0  
gower==1.0.1  
xfun==0.47  
S4Arrays==1.2.1  
mime==0.12  
prodlim==2024.06.25  
coda==0.19-4.1  
timeDate==4041.110  
iterators==1.0.14  
KMsurv==0.1-5  
hardhat==1.4.0  
lava==1.8.0  
statmod==1.5.0  
ipred==0.9-15  
bit64==4.0.5  
progress==1.2.3  
filelock==1.0.3  
irlba==2.3.5.1  
vipor==0.4.7  
KernSmooth==2.23-22  
rpart==4.1.21  
colorspace==2.1-1  
DBI==1.2.3  
nnet==7.3-19  
emmeans==1.10.4  
bit==4.0.5  
compiler==4.3.2  
curl==5.2.1  
rvest==1.0.4  
BiocNeighbors==1.20.2  
xml2==1.3.6  
DelayedArray==0.28.0  
scales==1.3.0  
caTools==1.18.3  
multcompView==0.1-10  
rjson==0.2.21  
htmltools==0.5.8.1  
pkgconfig==2.0.3  
sparseMatrixStats==1.14.0  
fastmap==1.2.0  
rlang==1.1.4  
htmlwidgets==1.6.4  
DelayedMatrixStats==1.24.0  
shiny==1.9.1  
farver==2.1.2  
zoo==1.8-12  
jsonlite==1.8.8  
R.oo==1.26.0  
ModelMetrics==1.2.2.2  
BiocSingular==1.18.0  
RCurl==1.98-1.16  
Formula==1.2-5  
GenomeInfoDbData==1.2.11  
munsell==0.5.1  
Rcpp==1.0.13  
viridis==0.6.5  
ape==5.8  
stringi==1.8.4  
pROC==1.18.5  
zlibbioc==1.48.2  
plyr==1.8.9  
shinyFiles==0.9.3  
parallel==4.3.2  
listenv==0.9.1  
ggrepel==0.9.6  
deldir==2.0-4  
splines==4.3.2  
gridtext==0.1.5  
hms==1.1.3  
locfit==1.5-9.10  
igraph==2.0.3  
markdown==1.13  
ggsignif==0.6.4  
ScaledMatrix==1.10.0  
reshape2==1.4.4  
biomaRt==2.58.2  
XML==3.99-0.17  
latticeExtra==0.6-30  
tzdb==0.4.0  
foreach==1.5.2  
httpuv==1.6.15  
future==1.34.0  
km.ci==0.5-6  
rsvd==1.0.5  
broom==1.0.7  
xtable==1.8-4  
restfulr==0.0.15  
rstatix==0.7.2  
later==1.3.2  
viridisLite==0.4.2  
class==7.3-22  
snow==0.4-4  
beeswarm==0.4.0  
memoise==2.0.1  
AnnotationDbi==1.64.1  
cluster==2.1.4  
timechange==0.3.0  
globals==0.16.3
RUVSeq==1.36.0  
bladderbatch==1.40.0  
edgeR==4.0.16  
limma==3.58.1  
ggtext==0.1.2  
fs==1.6.4  
bitops==1.0-8  
httr==1.4.7  
tools==4.3.2  
backports==1.5.0  
utf8==1.2.4  
R6==2.5.1  
lazyeval==0.2.2  
withr==3.0.1  
prettyunits==1.2.0  
beachmat==2.18.1  
GenomicFeatures==1.54.4  
annotate==1.80.0  
KEGGREST==1.42.0  
knitr==1.48  
estimability==1.5.1  
TCGAbiolinksGUI.data==1.22.0  
future.apply==1.11.2  
codetools==0.2-19  
glue==1.7.0  
rappdirs==0.3.3  
jpeg==0.1-10  
digest==0.6.36  

